* {
  font-family: 'Manrope', sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main {
  color: #ffffff;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  svg {
    fill: #ffffff;
  }
  .container {
    padding: 80px 70px;
    display: flex;
    flex-direction: column;
  }
}

.main--HOME {
  background-image: url(assets/background.jpg);
  animation: pageAnimation 1s linear forwards;
  .container {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.main--PLANTS {
  color: #000000;
  background-image: url(assets/backgroundPlants.jpg);
  animation: pageAnimation 1s linear forwards;
  a {
    color: #000000;
  }
  svg {
    fill: #000000;
  }
}

.main--PLANTp1,
.main--PLANTp2,
.main--PLANTp3,
.main--PLANTp4 {
  color: #000000;
  background-image: url(assets/backgroundPlants.jpg);
  animation: pageAnimation 1s linear forwards;
  a {
    color: #000000;
  }
  svg {
    fill: #000000;
  }
}

.main--SERVICE {
  background-image: url(assets/backgroundService.jpg);
  animation: pageAnimation 1s linear forwards;
}

.main--ABOUT {
  background-image: url(assets/backgroundAbout.jpg);
  animation: pageAnimation 1s linear forwards;
}

.main--CONTACT {
  background-image: url(assets/backgroundContact.jpg);
  animation: pageAnimation 1s linear forwards;
  .container {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  .logo {
    width: 100px;
  }
  .nav__left {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;

    .navbar__item {
      margin: 0 5px;
      flex-basis: calc(10% - 50px);
      font-weight: 600;
      text-align: center;
      opacity: 0.6;
    }

    .navbar__item::after {
      content: '';
      width: 0;
      border-bottom: 3px solid #7cb305;
      margin: auto;
      margin-top: 4px;
      display: block;
      transition: width 0.3s ease-in-out;
    }

    .navbar__item--active,
    .navbar__item:hover {
      opacity: 1;
    }

    .navbar__item--active::after,
    .navbar__item:hover::after {
      width: 24px;
    }

    .navbar__item:last-of-type {
      padding-right: 0;
    }
  }

  .nav__right {
    display: flex;
    flex-direction: row;
    .social {
      margin: 0 10px;
    }
  }
}

.page {
  display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.pages {
  display: flex;
  flex-basis: 80vh;
  flex-direction: column;
  justify-content: center;
  .homepage {
    max-width: 1280px;
    .title {
      margin: 0;
      font-size: 6rem;
      font-weight: 300;
    }
    .text {
      margin: 30px 0;
    }
  }
  .plantspage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .filters {
      height: 500px;
      flex-basis: 20vw;
      .title {
        margin: 30px 0;
        font-size: 1.5rem;
        font-weight: 500;
      }
      .filter {
        margin: 20px 5px;
        opacity: 0.6;
      }
      .filter--active {
        opacity: 1;
      }
    }
    .products {
      flex-basis: 80vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      overflow: auto;

      .product {
        flex-basis: 50%;
        width: 480px;
        flex-direction: row;
        display: none;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        .image {
          flex-basis: 50%;
        }
        .description {
          margin: auto;
          .name {
            font-weight: 600;
          }
          .price {
            color: #666666;
          }
        }
      }
      .product--active {
        display: flex;
        position: relative;
        visibility: visible;
        opacity: 1;
        animation: pageAnimation 1s linear forwards;
      }
      #p1 {
        .image {
          background: url(assets/orchid1.png) center center no-repeat;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      #p2 {
        .image {
          background: url(assets/tropical1.png) center center no-repeat;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      #p3 {
        .image {
          background: url(assets/tropical2.png) center center no-repeat;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      #p4 {
        .image {
          background: url(assets/tropical3.png) center center no-repeat;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .plantpage {
    display: flex;
    flex-direction: row;
    .description {
      flex-basis: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3{
        color:#666666;
        padding-bottom:14px;
        margin:0;
      }
      h4{
        font-size:2.5rem;
        margin:0;
        padding-bottom:25px;
      }
      .price{
        color:#666666;
      }
    }
    .image {
      flex-basis: 60%;
      height: 60vh;
    }
  }

  #PLANTp1 {
    .image {
      background: url(assets/orchid1.png) center center no-repeat;
      background-size: contain;
    }
  }

  #PLANTp2 {
    .image {
      background: url(assets/tropical1.png) center center no-repeat;
      background-size: contain;
    }
  }

  #PLANTp3 {
    .image {
      background: url(assets/tropical2.png) center center no-repeat;
      background-size: contain;
    }
  }

  #PLANTp4 {
    .image {
      background: url(assets/tropical3.png) center center no-repeat;
      background-size: contain;
    }
  }

  .servicepage {
    display: flex;
    flex-direction: row;
    .service {
      flex-basis: 33%;
      .value {
        line-height: 5.2rem;
        font-size: 6rem;
        color: #fcffe6;
        font-weight: 600;
      }
      .title {
        font-size: 1.6rem;
        margin-top: 100px;
      }
      .description {
        margin-right: 100px;
        margin-top: 30px;
        color: #dddddd;
        font-size: 1.1rem;
        line-height: 2rem;
      }
    }
  }
  .contactpage {
    margin-left: 100px;
    .title {
      margin: 0;
      font-size: 8rem;
      font-weight: 500;
    }
    .text {
      margin: 30px 0;
    }
  }
  .aboutpage {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    .title {
      flex-basis: 50%;
      margin: 0;
      padding: 0;
      font-size: 6rem;
      font-weight: 500;
    }
    .text {
      flex-basis: 60%;
      color: #dddddd;
    }
  }
}

.page--active {
  display: block;
  position: relative;
  visibility: visible;
  opacity: 1;
  animation: pageAnimation 1s linear forwards;
}

@keyframes pageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  text-align: center;
  opacity: 0.3;
}
